<meta charset="UTF-8">
<pre>
<font color="#95a5a6">/*</font>
<font color="#95a5a6"> &nbsp;Ligth Dimmer via Websocket, ativa relé</font>
<font color="#95a5a6"> &nbsp;criado a 28 Abril 2016</font>
<font color="#95a5a6"> &nbsp;por Ivo Oliveira e Bruno Horta</font>
<font color="#95a5a6"> */</font>
<font color="#95a5a6">/**</font>
<font color="#95a5a6"> * INCLUIR A Biblioteca do ESP e do WebsockerServer </font>
<font color="#95a5a6"> */</font>
<font color="#5e6d03">#include</font> <font color="#434f54">&lt;</font><font color="#d35400">ESP8266WiFi</font><font color="#434f54">.</font><font color="#000000">h</font><font color="#434f54">&gt;</font>
<font color="#5e6d03">#include</font> <font color="#434f54">&lt;</font><font color="#000000">WebSocketsServer</font><font color="#434f54">.</font><font color="#000000">h</font><font color="#434f54">&gt;</font>

<font color="#5e6d03">#define</font> <font color="#000000">RELAY_PIN</font> <font color="#000000">4</font>
<font color="#5e6d03">#define</font> <font color="#000000">LED_PIN</font> <font color="#000000">2</font>
<font color="#5e6d03">#define</font> <font color="#000000">WS_PORT</font> <font color="#000000">81</font>
<font color="#5e6d03">#define</font> <font color="#000000">HTTP_PORT</font> <font color="#000000">80</font>
<font color="#5e6d03">#define</font> <font color="#000000">PHOTO_RESISTOR_PIN</font> <font color="#000000">A0</font>

<font color="#00979c">int</font> <font color="#000000">serialCount</font> <font color="#434f54">=</font> <font color="#000000">0</font><font color="#000000">;</font>
<font color="#95a5a6">/**</font>
<font color="#95a5a6"> * Configuração do WI-FI</font>
<font color="#95a5a6"> */</font>
<font color="#00979c">const</font> <font color="#00979c">char</font><font color="#434f54">*</font> <font color="#000000">ssid</font> <font color="#434f54">=</font> <font color="#005c5f">"TESLA"</font><font color="#000000">;</font>
<font color="#00979c">const</font> <font color="#00979c">char</font><font color="#434f54">*</font> <font color="#000000">password</font> <font color="#434f54">=</font> <font color="#005c5f">"xptoxpto"</font><font color="#000000">;</font>

<font color="#95a5a6">/**</font>
<font color="#95a5a6"> * Instanciar Websocket com uma porta especifica</font>
<font color="#95a5a6"> */</font>
<font color="#000000">WebSocketsServer</font> <font color="#000000">webSocket</font> <font color="#434f54">=</font> <font color="#000000">WebSocketsServer</font><font color="#000000">(</font><font color="#000000">WS_PORT</font><font color="#000000">)</font><font color="#000000">;</font>


<font color="#00979c">void</font> <font color="#5e6d03">setup</font><font color="#000000">(</font><font color="#000000">)</font> <font color="#000000">{</font>
 &nbsp;<font color="#434f54">//Iniciar a porta Serie para Debug</font>
 &nbsp;<b><font color="#d35400">Serial</font></b><font color="#434f54">.</font><font color="#d35400">begin</font><font color="#000000">(</font><font color="#000000">115200</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;<font color="#434f54">//pausa para proteger de overhead</font>
 &nbsp;<font color="#d35400">delay</font><font color="#000000">(</font><font color="#000000">10</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;
 &nbsp;<font color="#d35400">pinMode</font><font color="#000000">(</font><font color="#000000">PHOTO_RESISTOR_PIN</font><font color="#434f54">,</font> <font color="#00979c">INPUT</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;<font color="#d35400">pinMode</font><font color="#000000">(</font><font color="#000000">LED_PIN</font><font color="#434f54">,</font> <font color="#00979c">OUTPUT</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;<font color="#d35400">digitalWrite</font><font color="#000000">(</font><font color="#000000">LED_PIN</font><font color="#434f54">,</font> <font color="#00979c">LOW</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;<font color="#434f54">//Iniciar o Modulo Wif-Fi</font>
 &nbsp;<b><font color="#d35400">WiFi</font></b><font color="#434f54">.</font><font color="#d35400">begin</font><font color="#000000">(</font><font color="#000000">ssid</font><font color="#434f54">,</font> <font color="#000000">password</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;<font color="#434f54">//Aguarda até estar Ligado</font>
 &nbsp;<font color="#5e6d03">while</font> <font color="#000000">(</font><b><font color="#d35400">WiFi</font></b><font color="#434f54">.</font><font color="#d35400">status</font><font color="#000000">(</font><font color="#000000">)</font> <font color="#434f54">!=</font> <font color="#000000">WL_CONNECTED</font><font color="#000000">)</font> <font color="#000000">{</font>
 &nbsp;&nbsp;&nbsp;<font color="#d35400">delay</font><font color="#000000">(</font><font color="#000000">500</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;<b><font color="#d35400">Serial</font></b><font color="#434f54">.</font><font color="#d35400">print</font><font color="#000000">(</font><font color="#005c5f">"."</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;<font color="#000000">}</font>
 &nbsp;<font color="#434f54">//DEBUG</font>
 &nbsp;<b><font color="#d35400">Serial</font></b><font color="#434f54">.</font><font color="#d35400">println</font><font color="#000000">(</font><font color="#005c5f">""</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;<b><font color="#d35400">Serial</font></b><font color="#434f54">.</font><font color="#d35400">print</font><font color="#000000">(</font><font color="#005c5f">"WiFi ligado a: "</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;<b><font color="#d35400">Serial</font></b><font color="#434f54">.</font><font color="#d35400">println</font><font color="#000000">(</font><font color="#000000">ssid</font><font color="#000000">)</font><font color="#000000">;</font>

 &nbsp;<font color="#95a5a6">/*</font>
<font color="#95a5a6"> &nbsp;&nbsp;* Inicia o Websocket</font>
<font color="#95a5a6"> &nbsp;&nbsp;*/</font>
 &nbsp;<font color="#000000">webSocket</font><font color="#434f54">.</font><font color="#d35400">begin</font><font color="#000000">(</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;<font color="#434f54">//Regista o Handler para tratar dos eventos do Socket</font>
 &nbsp;<font color="#000000">webSocket</font><font color="#434f54">.</font><font color="#000000">onEvent</font><font color="#000000">(</font><font color="#000000">webSocketEvent</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;<font color="#434f54">//DEBUG</font>
 &nbsp;<b><font color="#d35400">Serial</font></b><font color="#434f54">.</font><font color="#d35400">println</font><font color="#000000">(</font><font color="#005c5f">"WebSocket Iniciado"</font><font color="#000000">)</font><font color="#000000">;</font>

 &nbsp;<font color="#95a5a6">/* </font>
<font color="#95a5a6"> &nbsp;&nbsp;* Imprime o endereço IP do Modulo</font>
<font color="#95a5a6"> &nbsp;&nbsp;*/</font>
 &nbsp;<b><font color="#d35400">Serial</font></b><font color="#434f54">.</font><font color="#d35400">println</font><font color="#000000">(</font><b><font color="#d35400">WiFi</font></b><font color="#434f54">.</font><font color="#d35400">localIP</font><font color="#000000">(</font><font color="#000000">)</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;
 &nbsp;<font color="#d35400">pinMode</font><font color="#000000">(</font><font color="#000000">RELAY_PIN</font><font color="#434f54">,</font> <font color="#00979c">OUTPUT</font><font color="#000000">)</font><font color="#000000">;</font>
<font color="#000000">}</font>

<font color="#00979c">void</font> <font color="#5e6d03">loop</font><font color="#000000">(</font><font color="#000000">)</font> <font color="#000000">{</font>
 &nbsp;<font color="#434f54">//Escuta Eventos</font>
 &nbsp;<font color="#000000">webSocket</font><font color="#434f54">.</font><font color="#5e6d03">loop</font><font color="#000000">(</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;<font color="#434f54">//Processa Sensor</font>
 &nbsp;<font color="#000000">processPhotoResistorData</font><font color="#000000">(</font><font color="#000000">)</font><font color="#000000">;</font>
<font color="#000000">}</font>

<font color="#95a5a6">/**</font>
<font color="#95a5a6"> * Process webSocketEvents</font>
<font color="#95a5a6"> */</font>
<font color="#95a5a6">/**</font>
<font color="#95a5a6"> * Processa os Eventos do Socket</font>
<font color="#95a5a6"> */</font>
<font color="#00979c">void</font> <font color="#000000">webSocketEvent</font><font color="#000000">(</font><font color="#00979c">uint8_t</font> <font color="#000000">num</font><font color="#434f54">,</font> <font color="#000000">WStype_t</font> <font color="#000000">type</font><font color="#434f54">,</font> <font color="#00979c">uint8_t</font> <font color="#434f54">*</font> <font color="#000000">payload</font><font color="#434f54">,</font> <b><font color="#d35400">size_t</font></b> <font color="#000000">lenght</font><font color="#000000">)</font> <font color="#000000">{</font>
 &nbsp;<font color="#5e6d03">switch</font><font color="#000000">(</font><font color="#000000">type</font><font color="#000000">)</font> <font color="#000000">{</font>
 &nbsp;&nbsp;&nbsp;<font color="#5e6d03">case</font> <font color="#000000">WStype_DISCONNECTED</font><font color="#434f54">:</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><font color="#d35400">Serial</font></b><font color="#434f54">.</font><font color="#d35400">printf</font><font color="#000000">(</font><font color="#005c5f">"[%u] Desligado!\n"</font><font color="#434f54">,</font> <font color="#000000">num</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#5e6d03">break</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;<font color="#5e6d03">case</font> <font color="#000000">WStype_CONNECTED</font><font color="#434f54">:</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000">{</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><font color="#d35400">IPAddress</font></b> <font color="#000000">ip</font> <font color="#434f54">=</font> <font color="#000000">webSocket</font><font color="#434f54">.</font><font color="#d35400">remoteIP</font><font color="#000000">(</font><font color="#000000">num</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><font color="#d35400">Serial</font></b><font color="#434f54">.</font><font color="#d35400">printf</font><font color="#000000">(</font><font color="#005c5f">"[%u] Ligado &nbsp;%d.%d.%d.%d url: %s\n"</font><font color="#434f54">,</font> <font color="#000000">num</font><font color="#434f54">,</font> <font color="#000000">ip</font><font color="#000000">[</font><font color="#000000">0</font><font color="#000000">]</font><font color="#434f54">,</font> <font color="#000000">ip</font><font color="#000000">[</font><font color="#000000">1</font><font color="#000000">]</font><font color="#434f54">,</font> <font color="#000000">ip</font><font color="#000000">[</font><font color="#000000">2</font><font color="#000000">]</font><font color="#434f54">,</font> <font color="#000000">ip</font><font color="#000000">[</font><font color="#000000">3</font><font color="#000000">]</font><font color="#434f54">,</font> <font color="#000000">payload</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#434f54">// Envia a mensagem para o cliente</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000">webSocket</font><font color="#434f54">.</font><font color="#000000">sendTXT</font><font color="#000000">(</font><font color="#000000">num</font><font color="#434f54">,</font> <font color="#005c5f">"{\"status\":\"Ligado\"}"</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000">}</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#5e6d03">break</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;<font color="#5e6d03">case</font> <font color="#000000">WStype_TEXT</font><font color="#434f54">:</font>
 &nbsp;&nbsp;&nbsp;<font color="#434f54">//não implementado neste exemplo</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#5e6d03">break</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;<font color="#5e6d03">case</font> <font color="#000000">WStype_BIN</font><font color="#434f54">:</font>
 &nbsp;&nbsp;&nbsp;<font color="#434f54">//não implementado neste exemplo</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#5e6d03">break</font><font color="#000000">;</font>
 &nbsp;<font color="#000000">}</font>
<font color="#000000">}</font>
<font color="#00979c">void</font> <font color="#000000">processPhotoResistorData</font><font color="#000000">(</font><font color="#000000">)</font><font color="#000000">{</font>
 &nbsp;&nbsp;&nbsp;<font color="#d35400">delay</font><font color="#000000">(</font><font color="#000000">50</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;<font color="#95a5a6">/**</font>
<font color="#95a5a6"> &nbsp;&nbsp;&nbsp;&nbsp;* Ler o valor recebido no pino A1 (leitura do sensor)</font>
<font color="#95a5a6"> &nbsp;&nbsp;&nbsp;&nbsp;*/</font>
 &nbsp;&nbsp;&nbsp;<font color="#00979c">int</font> <font color="#000000">leitura_sensor</font> <font color="#434f54">=</font> <font color="#d35400">analogRead</font><font color="#000000">(</font><font color="#000000">PHOTO_RESISTOR_PIN</font><font color="#000000">)</font><font color="#000000">;</font> 
 &nbsp;&nbsp;&nbsp;<font color="#95a5a6">/**</font>
<font color="#95a5a6"> &nbsp;&nbsp;&nbsp;&nbsp;* Transposição dos valores recebidos, da gama enviada pelo sensor (0-1024)</font>
<font color="#95a5a6"> &nbsp;&nbsp;&nbsp;&nbsp;* para uma outra gama, aceite como input pelo LED (0-255)</font>
<font color="#95a5a6"> &nbsp;&nbsp;&nbsp;&nbsp;*/</font>
 &nbsp;&nbsp;&nbsp;<font color="#434f54">//Map - Transforma os valores lidos (0 - 1024) noutra gama de valores (0 - 255)</font>
 &nbsp;&nbsp;&nbsp;<font color="#434f54">//0 a 255 são os valores aceites pelo LED</font>
 &nbsp;&nbsp;&nbsp;<font color="#00979c">float</font> <font color="#000000">valor_led</font> <font color="#434f54">=</font> <font color="#d35400">map</font><font color="#000000">(</font><font color="#000000">leitura_sensor</font><font color="#434f54">,</font> <font color="#000000">0</font><font color="#434f54">,</font> <font color="#000000">1024</font><font color="#434f54">,</font> <font color="#000000">0</font><font color="#434f54">,</font> <font color="#000000">255</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;<font color="#95a5a6">/**</font>
<font color="#95a5a6"> &nbsp;&nbsp;&nbsp;&nbsp;* Envio do valor calculado para o LED</font>
<font color="#95a5a6"> &nbsp;&nbsp;&nbsp;&nbsp;*/</font>
 &nbsp;&nbsp;&nbsp;<font color="#d35400">analogWrite</font><font color="#000000">(</font><font color="#000000">LED_PIN</font><font color="#434f54">,</font> <font color="#000000">valor_led</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;<font color="#00979c">double</font> <font color="#000000">lux</font> <font color="#434f54">=</font> <font color="#000000">Light</font><font color="#000000">(</font><font color="#000000">leitura_sensor</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp;<font color="#434f54">//Controlo do Relé</font>
 &nbsp;&nbsp;&nbsp;<font color="#5e6d03">if</font><font color="#000000">(</font><font color="#000000">lux</font> <font color="#434f54">&lt;</font> <font color="#000000">30</font><font color="#000000">)</font><font color="#000000">{</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#d35400">digitalWrite</font><font color="#000000">(</font><font color="#000000">RELAY_PIN</font><font color="#434f54">,</font> <font color="#00979c">HIGH</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;<font color="#000000">}</font><font color="#5e6d03">else</font><font color="#000000">{</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#d35400">digitalWrite</font><font color="#000000">(</font><font color="#000000">RELAY_PIN</font><font color="#434f54">,</font> <font color="#00979c">LOW</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;<font color="#000000">}</font>
 &nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp;<font color="#000000">webSocket</font><font color="#434f54">.</font><font color="#000000">broadcastTXT</font><font color="#000000">(</font><font color="#005c5f">"{\"state\":\""</font> <font color="#434f54">+</font> <font color="#00979c">String</font><font color="#000000">(</font><font color="#000000">Light</font><font color="#000000">(</font><font color="#000000">leitura_sensor</font><font color="#000000">)</font><font color="#000000">)</font> <font color="#434f54">+</font> <font color="#005c5f">"\"}"</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;
<font color="#000000">}</font>
<font color="#434f54">//Conversão da leitura ADC para LUX</font>
<font color="#00979c">double</font> <font color="#000000">Light</font> <font color="#000000">(</font><font color="#00979c">int</font> <font color="#000000">RawADC0</font><font color="#000000">)</font><font color="#000000">{</font>
 &nbsp;<font color="#00979c">double</font> <font color="#000000">Vout</font><font color="#434f54">=</font><font color="#000000">RawADC0</font><font color="#434f54">*</font><font color="#000000">0.00322265625</font><font color="#000000">;</font><font color="#434f54">//Leitura_ADC*(VOLTAGEM_REF*1024)</font>
 &nbsp;<font color="#00979c">int</font> <font color="#000000">lux</font><font color="#434f54">=</font><font color="#000000">(</font><font color="#000000">1650</font><font color="#434f54">/</font><font color="#000000">Vout</font><font color="#434f54">-</font><font color="#000000">500</font><font color="#000000">)</font><font color="#434f54">/</font><font color="#000000">10</font><font color="#000000">;</font><font color="#434f54">//(500*VOLTAGEM_REF/Vout-500)/RESISTOR</font>
 &nbsp;<font color="#5e6d03">return</font> <font color="#000000">lux</font><font color="#000000">;</font>
<font color="#000000">}</font>

</pre>